*{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card_conteiner {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.city_search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.card_conteiner input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    margin-right: 10px;
}

.card_conteiner button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius:50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.cityList {
    width: 100%;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
}


.hide {
    display: none;
}

.card_conteiner button img {
    width: 16px;
}

.display {
    display: none;
}

.weatehr_icon {
    width: 170px;
    margin-top: 30px;
}

.wether_wrap h1{
    font-size: 80px;
    font-weight: 500;
}

.wether_wrap h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    display: none;
    text-align:  left;
    margin-left: 10px;
    font-size: 14px;
    color: red;
    margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card_conteiner {
        width: 95%;
        margin: 10px auto 0;
        max-width: 550px;
        margin: 10px auto 0;
    }
    .city_search {
        flex-direction: column;
    }
    .card_conteiner input{
        margin-right: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .card_conteiner button:hover {
        width: 30%;
        border-radius: 30px;
    }
    .weatehr_icon {
        width: 150px;
        margin-top: 20px;
    }
    .wether_wrap h1 {
        font-size: 50px;
    }
    .wether_wrap h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 0px;
    }
    .weather_details {
        margin-top: 30px;
    }
    col img {
        width: 25px;
    }
    .humidity, .wind {
        font-size: 20px;
    }
}